.texteria-style{
    height: 100%;

}

.div-sous-categories{
    margin-left: 10px;
   
}

.div-sous-sous-categories{
    margin-left: 20px;
    
}

.div-active{
   height: auto;
}

.style-title-resultat{
    font-weight: 900;
    color:#fe5723;
}

.class-slected{
   border: black 2px solid;
   padding: 15px;
   text-align: center;
}

.class-slected img{
    max-height: 200px;
}
