

 


 <section id="aa-catg-head-banner">
     <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
     <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Modify training</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>                   
           <li class="active">Modify training</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
  <!-- Cart view section -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content" style="padding-bottom:40px ;">
            
            <div class="col-md-12">
             
                <h1>Modify training</h1>
                <form class="form-horizontal" [formGroup]="formC">
                    
                     <fieldset id="account">
                         <legend>General information</legend>
                        
                         
                         <div class="form-group required">
                             <label for="input-firstname" class="col-sm-2 control-label">name training</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" formControlName="nom" placeholder="Nom" value="" name="firstname">
                             </div>
                         </div>
                         <div class="form-group required">
                             <label for="input-lastname" class="col-sm-2 control-label">Specialties</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" formControlName="ref" placeholder="Specialties" value="" name="lastname">
                             </div>
                         </div>
                         <div class="form-group required">
                             <label for="input-email" class="col-sm-2 control-label">Selling price</label>
                             <div class="col-sm-5">
                                 <input type="number" class="form-control" formControlName="prixVente" placeholder="Selling price" value="" name="email">
                             </div>
                             <div class="col-sm-5 control-label">
                                 <span style="font-weight: 900; margin-left: 10px;">DT</span>
                             </div>
                         </div>
                     </fieldset>
                    
                     <fieldset id="address">
                         <legend>Descriptions above</legend>
                         <p> This description displayed as paragraphs </p>
                         
                         <div class="class-slected">
                             <div class="form-group">
                                 <label for="input-company" class="col-sm-2 control-label">Paragraph</label>
                                 <div class="col-sm-10">
                                     <textarea class="form-control" formControlName="description" rows="10" name="enquiry"></textarea>
                                 </div>
                             </div>
         
                             
                             <button type="button" class="btn btn-danger" (click)="ajouteDescriptionDessus()" *ngIf="descriptionDessusSelected.id == -1"> Ajouter Paragraphe</button>
                             <button type="button" class="btn btn-danger" (click)="modifieDescriptionDessus()" *ngIf="descriptionDessusSelected.id != -1"> Modifier Paragraphe</button>
                         </div>
     
                         <table class="table table-bordered">
                             
                             <tbody>
                                 <tr *ngFor='let item of listDescriptionsDessus'>
                                     <td class="text-center">{{item.ligne}}</td>
                                     <td class="text-center">
                                         <button class="btn btn-danger"  title="" data-toggle="tooltip" type="button" data-original-title="Modifier quantite" (click)="selectedDescriptionDessus(item.id)"><i class="fa fa-refresh" style="color: white;"></i></button>
                                         <button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Supprimer" (click)="removeDescriptionDessus(item.id)"><i class="fa fa-times-circle" style="color: white;"></i></button>
                                     </td>
                                 
                                 </tr>
                             </tbody>
     
                         </table>
     
                     </fieldset>


                     <fieldset id="address">
                        <legend>Descriptions below</legend>
                        
                        <div class="class-slected">
                            <div class="form-group">
                                <label for="input-company" class="col-sm-2 control-label">Titre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="descriptionTitle" placeholder="" value="" name="email">
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label for="input-company" class="col-sm-2 control-label">Valeur</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" formControlName="descriptionValue" rows="10" name="enquiry"></textarea>
                                </div>
                            </div>
        
                              
                            <button type="button" class="btn btn-danger" (click)="ajouteDescriptionDessous()" *ngIf="descriptionDessousSelected.id == -1"> Add Row</button>
                            <button type="button" class="btn btn-danger" (click)="modifieDescriptionDessous()" *ngIf="descriptionDessousSelected.id != -1"> Modify Row</button>
                        </div>
    
                        <table class="table table-bordered">
                            
                            <tbody>
                                <tr *ngFor='let item of listDescriptionsDessous'>
                                    <th class="text-center">{{item.title}}</th>
                                    <td class="text-center">{{item.value}}</td>
                                    <td class="text-center">
                          
                                        <button class="btn btn-danger"  title="" data-toggle="tooltip" type="button" data-original-title="Modifier quantite" (click)="selectedDescriptionDessous(item.id)"><i class="fa fa-refresh" style="color: white;"></i></button>
                                        <button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Supprimer" (click)="removeDescriptionDessous(item.id)"><i class="fa fa-times-circle" style="color: white;"></i></button>
                          
                                    </td>
                                </tr>
                            </tbody>
    
                        </table>
    
                    </fieldset>
     
                     
                     <fieldset id="address">
                         <legend>Chapters</legend>
                         
                         <div class="class-slected">
                             <div class="form-group">
                                 <label for="input-company" class="col-sm-2 control-label"> PDF Course </label>
                                 <div class="col-sm-5">
                                     
                                     <input 
                                         formControlName="coursPdf"
                                         id="file" 
                                         type="file" 
                                         class="form-control"
                                         multiple="" 
                                         (change)="selectedCoursPdf($event)">
     
                                 <!--<div *ngIf="f.fileBlockImg.touched && f.fileBlockImg.invalid" class="alert alert-danger">
                                           <div *ngIf="f.fileBlockImg.errors.required">File is required.</div>
                                     </div>-->
                                 </div>
                                
                                
     
                                
                             </div>

                             <div class="form-group">
                                <label for="input-company" class="col-sm-2 control-label"> Video</label>
                                <div class="col-sm-5">
                                    
                                    <input 
                                        formControlName="fileVideo"
                                        id="file" 
                                        type="file" 
                                        class="form-control"
                                        multiple="" 
                                        (change)="selectedFileVideo($event)">
    
                                <!--<div *ngIf="f.fileBlockImg.touched && f.fileBlockImg.invalid" class="alert alert-danger">
                                          <div *ngIf="f.fileBlockImg.errors.required">File is required.</div>
                                    </div>-->
                                </div>
    
                                <!--<div class="col-sm-5">
                                    <img [src]="imageBlockImg" style="max-width: 100%;">
                                </div>-->
                             </div>
                         
                             <div class="form-group required">
                                <label for="input-firstname" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="titreChapitre" placeholder="Nom" value="" name="firstname">
                                </div>
                             </div>
          
     
                             <div class="form-group">
                                 <label for="input-company" class="col-sm-2 control-label">Description</label>
                                 <div class="col-sm-10">
                                     <textarea class="form-control" formControlName="descriptionChapitre" rows="10" name="enquiry"></textarea>
                                 </div>
                             </div>
           
                             <!--<div class="form-group required">
                                <label for="input-firstname" class="col-sm-2 control-label">Video Youtube</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="videoYoutube" placeholder="Nom" value="" name="firstname">
                                </div>
                             </div> -->
          
                          
                           
                             <button type="button" class="btn btn-danger" (click)="ajouterChapitre()" *ngIf="chapitre.id == -1"> Add Chapter</button>
                             <button type="button" class="btn btn-danger" (click)="updateChapitre()" *ngIf="chapitre.id != -1"> Edit Chapter</button>
                         </div>


     
                         <table class="table table-bordered">
                             
                             <tbody>
                                 <tr *ngFor='let item of chapitres'>
                                     <td class="text-center"> {{item.titreChapitre}} </td>
                                     <td class="text-center"> {{item.descriptionChapitre}} </td>
                                     <td class="text-center">
                                         
                                         <button class="btn btn-danger"  title="" data-toggle="tooltip" type="button" data-original-title="Modifier quantite" (click)="selectChapitre(item.id)"><i class="fa fa-refresh" style="color: white;"></i></button>
                                         <button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Supprimer" (click)="removeChapitre(item.id)"><i class="fa fa-times-circle" style="color: white;"></i></button>
                                   
                                     </td>
                                 </tr>
                             </tbody>
     
                         </table>
     
                     </fieldset>
                     
                   
     
                     <fieldset id="address">
                         <legend>Promotion</legend>
                         <div class="form-group required">
                             <label for="input-email" class="col-sm-2 control-label">Promo price</label>
                             <div class="col-sm-5">
                                 <input type="number" class="form-control" formControlName="prixPromo" placeholder="Promo price
								 " value="" name="email">
                             </div>
                             <div class="col-sm-5 control-label">
                                 <span style="font-weight: 900; margin-left: 10px;">USD $</span>
                             </div>
                         </div>
     
                     <!--<div class="form-group required">
                             <label for="input-email" class="col-sm-2 control-label">Fin de promo</label>
                             <div class="col-sm-10">
                                 <input type="date" class="form-control" formControlName="dateFinPromo" placeholder="Prix en dinar tunisien" value="" name="email">
                             </div>
                         </div> -->
     
                     </fieldset>
     
                     <fieldset>
                         <legend>Category</legend>
     
                         <div class="form-group" style="margin-left: 10px;">
                             
                             <div class="col-sm-5">
                                 <div *ngFor="let categorie of categories" >
                             
                                     <label class="checkbox" *ngIf="verifierCategories2(categorie.id)"><input (change)="selectCategories2(categorie.id)" name="filter[]" type="checkbox" checked/>{{categorie.id}}</label>
                                     <label class="checkbox" *ngIf="!verifierCategories2(categorie.id)"><input (change)="selectCategories2(categorie.id)" name="filter[]" type="checkbox"/>{{categorie.id}}</label>
                                    
                                     <div style="border-left:1px solid grey; margin-left: 7px;">
                                        
                                         <div *ngFor="let sousCategorie of categorie.categories" style="margin-left: 20px;">
                                             
                                             <label class="checkbox" *ngIf="verifierCategories2(sousCategorie.id)"><input (click)="selectCategories2(sousCategorie.id)" name="filter[]" type="checkbox" checked/>{{sousCategorie.id}}</label>
                                             <label class="checkbox" *ngIf="!verifierCategories2(sousCategorie.id)"><input (click)="selectCategories2(sousCategorie.id)" name="filter[]" type="checkbox"/>{{sousCategorie.id}}</label>
                                        
                                             <div style="border-left:1px solid grey;  margin-left: 7px;">
                                                 <div *ngFor="let sousSousCategorie of sousCategorie.categories" style="margin-left: 20px;" class="div-sous-sous-categories" [id]="sousCategorie.id" >
                                                     
                                                     <label class="checkbox" *ngIf="verifierCategories2(sousSousCategorie.id)"><input (click)="selectCategories2(sousSousCategorie.id)" name="filter[]" type="checkbox" checked/>{{sousSousCategorie.id}}</label>
                                                     <label class="checkbox" *ngIf="!verifierCategories2(sousSousCategorie.id)"><input (click)="selectCategories2(sousSousCategorie.id)" name="filter[]" type="checkbox"/>{{sousSousCategorie.id}}</label>
                                                
                                                 </div>
                                             </div>
     
                                         </div>
                                     </div>
                                 </div>
                             </div>
     
                         </div>
     
     
                         <br> <br>
                         <div *ngIf="role == 'admin'">
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="verifierCategories2(productService.produitSpecialsString)"><input (click)="selectCategories2(productService.produitSpecialsString)" name="filter[]" type="checkbox" value="0" title="Specials" checked />Specials-Product</label>
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="!verifierCategories2(productService.produitSpecialsString)"><input (click)="selectCategories2(productService.produitSpecialsString)" name="filter[]" type="checkbox" value="1" title="Specials" />Specials-Product</label>
        
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="verifierCategories2(productService.produitNouveauString)"><input (click)="selectCategories2(productService.produitNouveauString)" name="filter[]" type="checkbox" value="0" title="Nouveau"  checked />New product</label>
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="!verifierCategories2(productService.produitNouveauString)"><input (click)="selectCategories2(productService.produitNouveauString)" name="filter[]" type="checkbox" value="1" title="Nouveau" />New product</label>
                        
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="verifierCategories2(productService.produitMeilleurVenteString)"><input (click)="selectCategories2(productService.produitMeilleurVenteString)" name="filter[]" type="checkbox" value="0" title="Meilleur-Vente"  checked />Best-Selling-Product</label>
                            <label style="margin-left: 20px;" class="checkbox" *ngIf="!verifierCategories2(productService.produitMeilleurVenteString)"><input (click)="selectCategories2(productService.produitMeilleurVenteString)" name="filter[]" type="checkbox" value="1" title="Meilleur-Vente" />Best-Selling-Product</label>
                        
                         </div>
                       
                         
                         <br>
                         <p> <span class="style-title-resultat">Result:</span></p>
                         
                         <table class="table table-bordered">
                             
                             <thead>
                                 <tr>
                                     <th class="text-center">Category</th>
                                     <th class="text-center">Action</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor='let item of listCategories'>
                                     <td class="text-center">{{item.categorie}}</td>
                                     <td class="text-center"><button type="button" class="btn btn-danger"  (click)="selectCategories2(item.categorie)" title="Categorie"> supprimer </button></td>
                                </tr>
     
                                 <tr *ngIf='listCategories.length == 0'>
                                     <td class="text-center">Vide</td>
                                     <td class="text-center">Vide</td>
                                 </tr>
                             </tbody>
     
                         </table>
     
                         
                     </fieldset>
     
                    <fieldset style="margin-top: 30px;">
                    
                        <legend>Picture</legend>
                         
                            <div class="class-slected">
                                <div class="form-group">
                                     <label for="input-company" class="col-sm-2 control-label">image (L:580 px * H:656 px)</label>
                                     <div class="col-sm-5">
                                         <input 
                                         formControlName="file"
                                         id="file" 
                                         type="file" 
                                         class="form-control"
                                         multiple="" 
                                         (change)="selectedM($event)">
          
                                     </div>
     
                                     <div class="col-sm-5" *ngIf="imageSelectedSource ==null">
                                         <img src="{{userService.baseURL+'/'+imageSelected}}" style="max-width:100%; margin-bottom: 20px;">
                                     </div>
                                     <div class="col-sm-5" *ngIf="imageSelectedSource !=null">
                                        <img src="{{imageSelected}}" style="max-width:100%; margin-bottom: 20px;">
                                    </div>
                                </div>
                            </div>
                           
                    </fieldset>
                    
                     <div class="form-group" style="border:red solid 2px;" *ngIf="isErreurs">
                         <p style="color: red; padding: 2px 5px;">
                           <span *ngFor="let e of erreurString">  {{e}} <br> </span> 
                         </p>
                     </div>
       
                     <app-loading *ngIf="isLoading"></app-loading>
     
                     <div class="buttons">
                         <div class="pull-right">
                             <input type="submit" class="btn btn-primary" value="Ajouter" (click)="addProduit()">
                         </div>
                     </div>
                 </form>
        
            </div>

          </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">

            <app-sidebar-enseignant> </app-sidebar-enseignant>

        </div>
       
      </div>
    </div>
  </section>
 
  <app-footer-formation></app-footer-formation>
 