


 


  <section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>My trainings</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">My trainings</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
   <!-- product category -->
   <section id="aa-product-category">
     <div class="container">
       <div class="row">
         <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
           <div class="aa-product-catg-content">
            
             <div class="aa-product-catg-body">
             


              <h2>List of Trainingss</h2>
                                        
                                       
              <app-loading *ngIf="isLoading"></app-loading>
                  
              
              <div class="table-responsive">
                <table class="table" style="min-height: 300px;">
                  <thead>
                    <tr>
                      <th>last name</th>
                      <th>Date of Birth</th>
                      <th>nbr</th>
                      <th>fixed price</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="formations.length == 0">
                        
                       <th colspan="8" style="text-align: center;">Vide</th>
                        
                    </tr>
             
                    <tr *ngFor="let item of formations">
                        
                      <td>{{item.nom}}</td>
                      <td>{{item.createdFormation}}</td>
                      <td>{{item.nbrParticipant}}</td>
                      <td>{{item.prixVente}} DT</td>
                      
                      <td>
                        <button class="btn btn-danger "  [routerLink]="'/ListEvaluationEnseignant/'+item.id">
                          Evaluations
                        </button>
                      </td>

                      <td>
                        <button class="btn btn-danger "  [routerLink]="'/ListEtudiantEnseignant/'+item.id">
                          Participants
                        </button>
                      </td>
                   
                      <td>
                        <button class="btn btn-danger " [routerLink]="'/ListInscriptionEnseignant/'+item.id" >
                             Registrations
                        </button>
                      </td>
                   
                      <td>
                        <a class="btn btn-danger " style="margin-right: 5px;" [routerLink]="'/DeleteFormation/'+item.id" >
                          <i class="fa fa-trash" style="color: white;" ></i>
                        </a>
                      </td>

                      <td>
                        <a class="btn btn-danger " style="margin-right: 5px;" [routerLink]="'/UpdateFormation/'+item.id" >
                          <i class="fa fa-edit" style="color: white;" ></i>
                        </a>
                      </td>

                      <td>
                       <a class="btn btn-danger " style="margin-right: 5px;" [routerLink]="'/FormationDetails/'+item.id" >
                            <i class="fa fa-eye" style="color: white;" ></i>
                        </a>
                      </td>
                       
                   </tr>
             
                 </tbody>
                </table>

                <app-pagination *ngIf="!isLoading" [page]="page" [totalPage]="totalPage" (setPageEvent)="setPage($event)"></app-pagination>


              </div>
              
              
             <!-- / quick view modal -->   
             </div>
            </div>
         </div>
         
         <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">

             <app-sidebar-enseignant> </app-sidebar-enseignant>

         </div>
        
       </div>
    
     </div>
   </section>
  
   <app-footer-formation></app-footer-formation>
