




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>A propos</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">A propos</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

   
<section id="aa-blog-archive" style="background-color: gray;">
      <div class="container" style="background-color: rgb(119, 17, 17); padding:0px;">
       <div class="row">
       
          <div class="col-md-6">
              <img src="./assets/images/rtt.jpg" style="max-width: 100%;">
          </div>

          <div class="col-md-6" >
               <p style="color:white; font-weight: 900; line-height: 30px; margin-top:50px; padding:10px;">
                Welcome to the ِِuniversity E-learning platform. This teaching platform is based on online learning.​Virtual University of Creative Thought Fun online roundabouts with the latest audio...
Remote training for all participants...
Everything you need to develop skills in your career and in various areas of life
The latest references and scientific research...
A coach motivates you while you are at home without the need to move...
Online consulting in any field you want...
No need to move to enjoy a training course...
You decide the date and place of the course...
Attendance applications...
Forums and conferences for all participants...
International testimonials...
Welcome to join us in our world


                
                
               </p>
          </div>

       </div>
      </div>
</section>




<section id="aa-product" style="padding-top: 50px; background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
         
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="aa-latest-blog-area">
                    <div class="row">
          
                      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->
                      
      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->

      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->

      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->


      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->


      <!-- single latest blog -->
                      <div class="col-md-4 col-sm-6" style="margin-bottom: 20px; padding:10px;">
                        <div class="aa-latest-blog-single" style="">
                       
                        
                          <figure class="aa-blog-img"  style="position:relative;">                    
                            <a ><img src="./assets/images/33.jpg" alt="img" style="border-radius: 50%;"></a>  
                          
                          </figure>

                          <div class="aa-blog-info">
          
                            <br>
                            <br>

                            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                           
                                <div style="width: 100%; padding:5px; height: 200px; overflow: hidden;">

                                  <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Jeffrey Brown</a></h3>
                                  <p style="color:red;">creative leader</p>

                                  <p style="color: black; font-size: 17px;"> Sample text. Click to select the text box. Click again or double click to start editing the text. </p> 
                                  
                                </div>

                               
                           
                            </div>
                           
                            
                            

                            <br>
                            <br>

                            
                          </div>
                        </div>
                      </div>
                    <!-- single latest blog -->
                    


                      </div>
          
                    
                      
                  </div>
                </div>
              </div>
            </div>
          
            
           


       
        </div>
      </div>
    </div>
  </div>
</section>

 

           
    
   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

 