



  
  <app-slider2></app-slider2>

  <app-some-video></app-some-video>
 
  <app-formation-accueil> </app-formation-accueil> 
  

  <app-formateurs-accueil> </app-formateurs-accueil>
  
    <!-- banner section -->
  
  <!-- popular section -->

  <!-- / popular section -->
  <!-- Support section -->
  
  <app-galerie3></app-galerie3>
  
 

  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->


  <app-demande-inscrire [isOpenCommande]="isOpenCommande" [idCommande]="idCommande" (closeCommandeEvent)="closeCommande()" ></app-demande-inscrire> 
  

  
