
 


 <section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Modifier formation</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>                   
          <li class="active">Modifier formation</li>
        </ol>
      </div>
     </div>
   </div>
 </section>
  <!-- / catg header banner section -->

<section id="aa-product-category">
   <div class="container">
     <div class="row">
       <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
         <div class="aa-product-catg-content" style="padding-bottom:40px ;">
           
           <div class="col-md-12">
            
               <h1>Modifier centre de formation</h1>
               <form class="form-horizontal" [formGroup]="formC">
                   
                    <fieldset id="account">
                        <legend>Informations Générales</legend>
                       
                        
                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="nom" placeholder="" value="" name="firstname">
                            </div>
                        </div>

                        <div class="class-slected">
                            <div class="form-group">
                                <label for="input-company" class="col-sm-2 control-label">image</label>
                                <div class="col-sm-5">
                                    <input 
                                    formControlName="file"
                                    id="file" 
                                    type="file" 
                                    class="form-control"
                                    multiple="" 
                                    (change)="selectedM($event)">
     
                                </div>

                                <div class="col-sm-5" *ngIf="!imageSelectedSource">
                                    <img [src]="userService.baseURL + '/'+ imageSelected" style="max-width:100%; margin-bottom: 20px;">
                                </div>
                                <div class="col-sm-5" *ngIf="imageSelectedSource">
                                    <img [src]="imageSelected" style="max-width:100%; margin-bottom: 20px;">
                                </div>
                            </div>
                         
                          
                        </div>
                   
                    </fieldset>
                   

                    <div class="form-group" style="border:red solid 2px;" *ngIf="isErreurs">
                        <p style="color: red; padding: 2px 5px;">
                          <span *ngFor="let e of erreurString">  {{e}} <br> </span> 
                        </p>
                    </div>
      
                    <app-loading *ngIf="isLoading"></app-loading>
    
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary" value="Ajouter" (click)="addProduit()">
                        </div>
                    </div>
                </form>
     
    
    

               
           </div>

         </div>
       </div>
       
       <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">

           <app-sidebar-admin> </app-sidebar-admin>

       </div>
      
     </div>
   </div>
 </section>

 <app-footer-formation></app-footer-formation> 