




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Center de formations</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Certificat</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

   
   <section id="aa-product" style="padding-top: 50px; background-color: brown;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
           
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="aa-latest-blog-area">
                      <div class="row">
            
                        <!-- single latest blog -->
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto;">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">MINI MBA Programe</a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> trainer Abderahmaine  </p> 
                                    
                                  </div>
                                </div>
                            
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        

                         <!-- single latest blog -->
                         <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto; ">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Marketing Degital </a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> Trainer Alwen awani </p> 
                                    
                                  </div>

                                 
                             
                              </div>
                            
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        


                         <!-- single latest blog -->
                         <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto;">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">MEANS STACK</a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> Ikram Ben Ahmed </p> 
                                    
                                  </div>

                                  
                             
                              </div>
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        


                         <!-- single latest blog -->
                         <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto; ">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">PNL</a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> Adel Nemri</p> 
                                    
                                  </div>

                                  
                             
                              </div>
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        

                         <!-- single latest blog -->
                         <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto;">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Comminication</a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> Houssein Tej </p> 
                                    
                                  </div>

                                  
                             
                              </div>
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        

                         <!-- single latest blog -->
                         <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; padding:10px;">
                          <div class="aa-latest-blog-single" style="background-color: rgb(163, 162, 162); padding:0px;">
                         
                          
                            <figure class="aa-blog-img"  style="position:relative;">                    
                              <a ><img src="./assets/images/OMR-832020222.png" alt="img"></a>  
                            
                            </figure>

                            <div  style="text-align: center; position:relative; width: 100%;">
                                <img src="./assets/images/logo.png" alt="img" style="border-radius: 50%; width:150px; position:absolute; left:0; right: 0px; top:-50px; z-index: 100; margin:auto;">
                            </div>

                            <div class="aa-blog-info">
            
                              <br>
                              <br>

                              <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                             
                                  <div  style="width: 100%; padding:5px; height: 100px; overflow: hidden; text-align:center;">

                                    <h3 class="aa-blog-title"><a style="color: black; font-size: 30px;">Leadership</a></h3>
                                  
                                    <p style="color: black; font-size: 17px;"> Abder arahmaine Omar</p> 
                                    
                                  </div>

                                  
                             
                              </div>
                              
                              

                              <br>
                              <br>

                              
                            </div>
                          </div>
                        </div>
                      <!-- single latest blog -->
                        
            
                        </div>
            
                      
                        
                    </div>
                  </div>
                </div>
              </div>
            
              
             


         
          </div>
        </div>
      </div>
    </div>
  </section>

   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  <!-- Login Modal -->  
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">                      
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Login or Register</h4>
          <form class="aa-login-form" action="">
            <label for="">Username or Email address<span>*</span></label>
            <input type="text" placeholder="Username or email">
            <label for="">Password<span>*</span></label>
            <input type="password" placeholder="Password">
            <button class="aa-browse-btn" type="submit">Login</button>
            <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
            <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
            <div class="aa-register-now">
              Don't have an account?<a href="account.html">Register now!</a>
            </div>
          </form>
        </div>                        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div> 

