




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Category</h2>
         <ol class="breadcrumb">
                  
           <li class="active">Category</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

  <!-- 
   <app-top-categories></app-top-categories>
  -->
  
  
  <div class="col-md-12 slider-container active-slider-web ">

    <div style="position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(34, 33, 33, 0.438);"></div>
 
    <div class="item-slider22 active slider-1">
    
             
      <div class="container">
             <div class="col-md-12">
                  <div class="row">
             
                    
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Category</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0013.jpg" alt="">
                        <h4 >  <a [routerLink]="'/CategorieDetails/Business'"> BUSINSSE  </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images//pexels-photo-3748201.jpeg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/education enseignant'">EDUCATION & ENSEIGANT</a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images//ser-min.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/Developpement personnel'">DEVELOPPMENT PRSONNEL </a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images//IMG-20210531-WA0022.jpg" alt="">
                        <h4 ><a [routerLink]="'/CategorieDetails/Info multimedia'"> INFO & MULTIMEDIA </a></h4>
                      </div>
                    </div>

    
                      </div>
    
                  </div> 
             </div>
      </div>       
    </div>
    <div class="item-slider22 active slider-2">
    
    
      
        <div class="container">
               <div class="col-md-12">
                    <div class="row">
                        
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Category</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                       <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/565.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/TOT & LIFE COACH'" > TOT & LIFE COACH </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/Fotolia_123680018_jackf-300x180.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/COMMINICATION'" > COMMINICATION </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0024.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/PNL & HYPNISIS'">  PNL & HYPNOSIS</a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images/radiomedia.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/Radio $média'" > RDIO & MEDIA </a> </h4>
                      </div>
                    </div>

    
                      </div>
                      
                    </div> 
               </div>
        </div>
    
    </div>
    
    <div class="item-slider22 active slider-3">
    
      
      <div class="container">
        <div class="col-md-12">
             <div class="row">
                 
              <div class="col-md-3"  style="display: flex;
              justify-content: center;
              align-items: center;
              height: 600px;
              " >
                 <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Category</h1>
              </div>
    
              <div class="col-md-9" style="padding: 50px; ">
               
               <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0004.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Science'"> SCIENCE  </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img class="image-slider" src="../../../../../assets/images/famille.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Child family'"> CHILD & FAMILY </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img class="image-slider" src="../../../../../assets/images/MEDI.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Mmeddation'" > MEDITAION </a></h4>
              </div>
            </div>


            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0009.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Consulting'"> CONSULTING</a></h4>
              </div>
            </div>
    
              </div>
              
             </div> 
        </div>
      </div> 
    
    </div>
    
    
  </div>

  
  <div class="col-md-12 active-slider-mobile" style="padding-left:0px; padding-right: 0px;">

    <h1>TT</h1>
    <div class="col-sm-12 slider-1" style="padding-top: 70px; padding-bottom: 20px; margin-top: -50px;">
         
      <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0013.jpg" alt="">
                        <h4 >  <a [routerLink]="'/CategorieDetails/Business'"> BUSINSSE  </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images//pexels-photo-3748201.jpeg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/education enseignant'">EDUCATION & ENSEIGANT</a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images//ser-min.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/Developpement personnel'">DEVELOPPMENT PRSONNEL </a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images//IMG-20210531-WA0022.jpg" alt="">
                        <h4 ><a [routerLink]="'/CategorieDetails/Info multimedia'"> INFO & MULTIMEDIA </a></h4>
                      </div>
                    </div>

  </div>

  <div class="col-sm-12 slider-2" style="margin-top:-20px; padding: 10px 0px;">
           
                     <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/565.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/TOT & LIFE COACH'" > TOT & LIFE COACH </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img class="image-slider" src="../../../../../assets/images/Fotolia_123680018_jackf-300x180.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/COMMINICATION'" > COMMINICATION </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0024.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/PNL & HYPNISIS'">  PNL & HYPNOSIS</a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img class="image-slider" src="../../../../../assets/images/radiomedia.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/Radio $média'" > RDIO & MEDIA </a> </h4>
                      </div>
                    </div>

  </div>


  <div class="col-sm-12 slider-3" style="margin-top:-20px; padding: 10px 0px;">
           
 <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0004.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Science'"> SCIENCE  </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img class="image-slider" src="../../../../../assets/images/famille.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Child family'"> CHILD & FAMILY </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img class="image-slider" src="../../../../../assets/images/MEDI.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Mmeddation'" > MEDITAION </a></h4>
              </div>
            </div>


            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img class="image-slider" src="../../../../../assets/images/IMG-20210531-WA0009.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Consulting'"> CONSULTING</a></h4>
              </div>
            </div>


    </div>
  
    
  </div>
  
    
   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  

