

<section id="aa-subscribe" class="style-background">
  

<div class="content">
    
    <div class="col-md-12">
        
        <br>
        
        <div class="row">
  
            <h1 style="text-align: center; font-size: 50px; font-weight: 900; color: white;">Some videos</h1>
        </div>
   
        <br>
        
        <div class="row">
  
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/cDtt4irQEm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/eAkng3_lXOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
            </div>
           
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/FbLaa4EH4zM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <br>

        <div class="row">
     
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/yBcv2nQ4SfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/47fxYt6CEdI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           
            <div class="col-md-4">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/6w4w45CAkEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
  
        </div>
        
        <br>
        
     

        <br>
        
    </div>
    
</div>

</section>