




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Search</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Search</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

    
   
   <section id="aa-product" style="background-color: #7a0f3e;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            
          <br>
          <br>

            <div class="aa-product-area">
              <div class="aa-product-inner">
                
                 <br><br>
                  <!-- Tab panes -->
                  <div class="tab-content">
                
                      <app-list-formations [categories]="[]" isRecherche="1"></app-list-formations>
                    
                    <!-- / electronic product category -->
                  </div>
                  <!-- quick view modal -->                  
                            
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
             
    
   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  
