.col-md-6{
    padding: 20px;
    height: 200px;
    margin-bottom: 20px;
}

.aa-promo-banner{
    max-width: 100%;
    max-height: 200px;
}

.class-button{
    font-size: 25px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
}

.class-button:hover{
    color:blue
;
}

.style-image{
max-width: 100%;
max-height: 100%;
}