

 


 <section id="aa-catg-head-banner">
   <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Formateur</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>         
          <li class="active">Formateur</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

  <app-loading *ngIf="isLoading"></app-loading>
             
  <!-- product category -->
  <section id="aa-product-category" *ngIf="!isLoading">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            
            <div class="aa-product-catg-body">
            
           
            <h2>About me</h2>

           
            <div *ngFor="let item of formateur.experiences">
               <h4 style="font-weight: 800;">
                 {{item.title}}
               </h4>
               
               <p>
                {{item.value}} 
               </p> 
            </div>


            <h2>Professionals experiences</h2>

           
            <div *ngFor="let item of formateur.stages">
               <h4 style="font-weight: 800;">
                 {{item.title}}
               </h4>
               
               <p>
                {{item.value}} 
               </p> 
            </div>

            <h2>Training</h2>

           
            <div *ngFor="let item of formateur.formations">
               <h4 style="font-weight: 800;">
                 {{item.title}}
               </h4>
               
               <p>
                {{item.value}} 
               </p> 
            </div>


          
             <!-- quick view modal -->                  
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                      
                    <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">                              
                          <div class="aa-product-view-slider">                                
                            <div class="simpleLens-gallery-container" id="demo-1">
                              <div class="simpleLens-container">
                                  <div class="simpleLens-big-image-container">
                                      <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                          <img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                      </a>
                                  </div>
                              </div>
                              <div class="simpleLens-thumbnails-container">
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                                  </a>                                    
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                                  </a>

                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-content">
                            <h3>T-Shirt</h3>
                            <div class="aa-price-block">
                              <span class="aa-product-view-price">$34.99</span>
                              <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                            <h4>Size</h4>
                            <div class="aa-prod-view-size">
                              <a href="#">S</a>
                              <a href="#">M</a>
                              <a href="#">L</a>
                              <a href="#">XL</a>
                            </div>
                            <div class="aa-prod-quantity">
                              <form action="">
                                <select name="" id="">
                                  <option value="0" selected="1">1</option>
                                  <option value="1">2</option>
                                  <option value="2">3</option>
                                  <option value="3">4</option>
                                  <option value="4">5</option>
                                  <option value="5">6</option>
                                </select>
                              </form>
                              <p class="aa-prod-category">
                                Category: <a href="#">Polo T-Shirt</a>
                              </p>
                            </div>
                            <div class="aa-prod-view-bottom">
                              <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                              <a href="#" class="aa-add-to-cart-btn">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                        
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
              <!-- / quick view modal -->   
            </div>
           
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <br><br>

          <img style="max-width: 100%;" [src]="userService.baseURL +'/'+ formateur.image" alt="fashion img">
          <h2>
            {{formateur.nom}} 
          </h2>
          <p> <span style="font-weight: 700;">Specialties:</span> {{formateur.specialites}}</p>
      <!--    <p> <span style="font-weight: 700;">Email:</span> {{formateur.email}} </p>
          <p> <span style="font-weight: 700;">Tel:</span> {{formateur.telephone}}</p>
          <p> <span style="font-weight: 700;">Adresse:</span> {{formateur.adresse}} {{formateur.ville}} {{formateur.codePostal}} {{formateur.pays}}</p>
         -->
        </div>
       
      </div>
    </div>
  </section>
 
  <div class="container">
  
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="row">
    
              <br> 
              <h2>List of training courses offered</h2>
             
             <br>
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4" *ngFor="let item of formations" style="margin-bottom: 20px;">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img [src]="userService.baseURL +'/'+ item.imagePrincipale" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye"></i>5K</span>
                      <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                      <a href="#"><i class="fa fa-comment-o"></i>20</a>
                      <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title"><a href="#">{{item.nom}}</a></h3>
                    <p>  </p> 
                    <a [routerLink]="'/FormationDetails/'+item.id" class="aa-read-mor-btn" style="float: left;">Inscrire<span class="fa fa-long-arrow-right"></span></a>
                  </div>
                </div>
              </div>
             
              </div>
          </div>
        </div>
      </div>
  </div>
  
  <app-footer-formation></app-footer-formation>
